// Mixins Here
.signUp(@width, @backColor){
  background-color: @backColor;
  width: @width;
  text-align: center;
  font-size: 1.8rem;
  color: white;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}